[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cupy-cuda11x = "*"
bayesian-optimization = "*"
loguru = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
jupyter = "*"
numba = "*"
phantominator = "*"
pandas = "*"
ipywidgets = "*"

[dev-packages]
jupyterlab = "*"
pillow = "*"
matplotlib = "*"
tqdm = "*"
scikit-image = "*"
better-exceptions = "*"
opencv-python = "*"

[requires]
python_version = "*"
